/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: #f2f2f2;
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.competition-card {
    background-color: white;
    min-height: 210px;
    margin: 15px 0 15px 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 8%);
    transition: box-shadow .3s ease-in-out;
    justify-content: space-between;
}

.competition-card:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 8%);
}

.competition-card-info {
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    min-width: 0;
    padding: 16px 20px;
    flex: 1 1 auto;
}

.competition-card-actions {
    max-width: 187px;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 16px;
}

.img-container {
    max-width: 251px;
    flex: 0 1 33.333%;
    position: relative;
    min-height: 150px;
    border-radius: 4px 0 0 4px;
}

.competition-location {
    justify-self: end;
}

.competition-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 4px 0 0 4px;
    top: 0;
    left: 0;
}

.competition-prizepool {
    font-size: 20px;
    line-height: 1.2em;
}

